/* EM is Parent related and REM always HTML aur root realated  */

body {
    margin: 0;
    /* height: 400px; */
    /* width: 600px; */

    font-size: 2em;
    }

section {
    background-color: blueviolet;

    /* Using view port  */
    width: 50vw;
    padding: 10vw;
    margin: 10vw;
    border: 1vw solid green;
    font-size: 5rem;
    /* font-size: 5vw; */
    /* width: 400px;
    padding: 10%;
    box-sizing: border-box; */
    /* font-size: 32px; */
}

.box {
    background-color: chartreuse;
    /* width: 50%; */
    padding: 24px;

    /* Using Em */
    width: 5em;
    font-size: 2em;


    /* max-width: 100px; */

    /* Any time margin and padding cannot use % it is uses px */
    /* padding: 10%;
    margin: 10%; */
    /* border: 10px solid rosybrown; */
    /* font-size: 100%; */

}

