body {
    background-color: #D5E1EF;
    font-family: cursive;
    text-align: center;
}

.card {
    position: fixed;
    margin: auto;
    padding: 1rem;
    padding-bottom: 1rem;
    inset: 0;
    width: 100%;
    max-width: 302px;
    height: 470px;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 30%);
}

img {
    width: 100%;
    border-radius: 10px;
}

h3 {
    /* color: #252D47; */
    color: hsl(228, 45%, 44%)
}


p {
    color: hsl(220, 15%, 55%);
}