/* 
#html#html {
    background-color: aqua;
}

#html.html {
    background-color: rebeccapurple;
}

.html {
    background-color: blue;
}

li {
    background-color: green;
}

li {
    background-color: orange;
    color: pink;
} */