/* li {
    font-weight: 1000;
}

.html {
    color: red;
}

.css {
    color: blue;
}

.js {
    color: rgb(255, 255, 0);
}

.react {
    color: #5ED3F3;
}

#tai {
    font-size: 30px;
}

/* [class] {
    /* background-color: gray; }*/
/* 
    
ul p {
    background-color: green;
}

Decender crcitere */
/* .web p{
    color: blue;
}

h1:hover {
    color: brown;
}

p:hover {
    color: violet;
}
