* {
    box-sizing: border-box;
}

.container {
    background-color: lightblue;
}

.box {
    width: 120px;
    height: 120px;
    color: white;
    font-size: 4rem;
    padding: 1rem;
    float: left;
}

.box-1 {
    background-color: green;
}

.box-2 {
    background-color: blueviolet;
}

.box-3 {
    background-color: blue;
}

.box-4 {
    background-color: brown;
}

.box-5 {
    background-color: coral;
}

.box-6 {
    background-color: darkblue;
}

.box-7 {
    background-color: darkred;
}

.box-8 {
    background-color: darkslategray;
    clear: left;
}

.box-9 {
    background-color: gray;
    /* clear: right; */
}

.box-10 {
    background-color: navy;
}